



<div class="container" >
    <div class="row">
      
        <div class="col-md-6">
          <div class="card" style="height:530px">
            <div class="card-header">
                  <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Weibull Chart</h4>
             <!-- <h4>Group Key : {{selectedCombinedGroupKey}}</h4> -->
             <div class="chart-diplay" style="margin-top:60px">
              <div style="width: 100% ">
                <!-- <app-highchart-range></app-highchart-range> -->
                <div id="container"></div>
              </div>
        </div> 
    </div>
                
            </div>
    </div>
  </div>
