<div class="container ">
    <ngx-spinner></ngx-spinner>
    <div class="row">
        <div class="leftPannel">
            <mat-card class="card-header">
                <!--  -->
                <mat-card-header>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-sm-6">
                                <mat-form-field class="tracking-full-width">
                                    <mat-label>Choose Group Key</mat-label>
                                    <mat-select [(value)]="selectedGroupKey">
                                            <mat-option value="all">Select All</mat-option>
                                        <mat-option *ngFor="let groupkey of groupKeyDropdown" [value]="groupkey">{{groupkey}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button (click)="filterByGroupID()">Search</button>
                        <button mat-raised-button>Help</button>
                    </mat-card-actions>
                    <mat-card-footer>
                        
                    </mat-card-footer>
            </mat-card>
        </div>
        <div class="leftPannel">
            <mat-card class="card-header">
                <!--  -->
                <p>Please select the group key from dropdown.(Groupkey contains of seag+vehicleseries+production_date)</p>
            </mat-card>
        </div>
    </div>

<!---HTML--->
<!-- <div *ngIf="!loadingData"> -->
    <div class="row">
        <div class="rightPannel">
            <mat-card class="card">
                <!-- For responsive graphs, the parent element must be 100% width -->
                <!-- <div class="w-100" #productionGraph></div> -->
                    <canvas baseChart 
                        [datasets]="lineTimeChartData" 
                        [labels]="lineTimeChartLabels" 
                        [options]="lineTimeChartOptions"
                        [colors]="lineTimeChartColors" 
                        [legend]="lineTimeChartLegend" 
                        [chartType]="lineTimeChartType" 
                        [plugins]="lineTimeChartPlugins">
                    </canvas>
            </mat-card>
        </div>
        <div class="rightPannel">
            <mat-card>
                <div class="mat-elevation-z8 table-container">
                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                        <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->
                        <!-- Parameter Column -->
                        <ng-container matColumnDef="Parameter">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Parameter </th>
                            <td mat-cell *matCellDef="let element"> {{element.Parameter}} </td>
                        </ng-container>
                        <!-- Point_Estimate Column -->
                        <ng-container matColumnDef="Point_Estimate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Point Estimate </th>
                            <td mat-cell *matCellDef="let element"> {{element.Point_Estimate}} </td>
                        </ng-container>
                        <!-- Standard_Error Column -->
                        <ng-container matColumnDef="Standard_Error">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Standard Error </th>
                            <td mat-cell *matCellDef="let element"> {{element.Standard_Error }} </td>
                        </ng-container>
                        <!-- Lower_CI Column -->
                        <ng-container matColumnDef="Lower_CI">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Lower CI </th>
                            <td mat-cell *matCellDef="let element"> {{element.Lower_CI}} </td>
                        </ng-container>
                        <!-- Upper_CI Column -->
                        <ng-container matColumnDef="Upper_CI">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Upper CI </th>
                            <td mat-cell *matCellDef="let element"> {{element.Upper_CI}} </td>
                        </ng-container>            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
                    </mat-paginator>
                </div>
            </mat-card>
        </div>
    </div>
    <!--  -->
    <div class="row">
        <div class="leftPannel">
            <mat-card class="card">
                <!-- <div style="text-align:center;">
                    <mat-card-title>Histogram</mat-card-title>
                </div> -->
                <!-- <img [src]="histogramImageURL" /> -->
                <div id='histogramChart'><!-- Plotly chart will be drawn inside this DIV --></div>
            </mat-card>
        </div>
        <div class="leftPannel">
            <mat-card class="card">
                    <!-- <div style="text-align:center;">
                        <mat-card-title>PDF</mat-card-title>
                    </div> -->
                    <!-- <apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart> -->
                    <!-- PDF Plot -->
                    <canvas baseChart 
                        [datasets]="lineChartData" 
                        [labels]="lineChartLabels" 
                        [options]="lineChartOptions"
                        [colors]="lineChartColors" 
                        [legend]="lineChartLegend" 
                        [chartType]="lineChartType" 
                        [plugins]="lineChartPlugins">
                    </canvas>
                    <!-- CDF Plot -->
                    <img id="cdfPlot" [src]='cdfImageURL' />
            </mat-card>
        </div>
    </div>
<!--  -->
    <div class="row">
            <div class="leftPannel">
                <mat-card class="card">
                        <img id="misPlot" [src]='misImageURL' />
                </mat-card>
            </div>
        </div>
</div>