<!-- 
<div class="coantiner">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                      <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Line chart </h4>
               
                
                 <div id="myChartline" ></div>
            </div>
            
        </div>
    </div>
</div>
<div class="coantiner">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                      <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title">Line chart </h4>
               
                
                <app-highchart></app-highchart>
            </div>
            
        </div>
    </div>
</div>
 -->

<div class="coantiner">
    <div class="row">
        <button md-raised-button type="submit" class="btn btn-rose" (click)="filterByID()">Click</button>
    </div>
</div>
